body {
    background-color: rgb(236, 201, 2);
    height: 100vh;
}

.container {
    height: 80%;
}

.pic {
    height: 100vh;
    background-size: cover;
}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.title2 {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1rem;
}

.chimp-tech {
    margin-top: -10rem;
}

.metal-light {
    color: hsla(0, 0%, 10%, 1);
    text-shadow: hsla(0, 0%, 40%, .5) 0 -1px 0, hsla(0, 0%, 100%, .6) 0 2px 1px;
}
/* 
@media (max-width: 400px) {
    .chimp-tech {
        margin-top: -20rem;
    }
}
@media (max-width: 600px) {
    .chimp-tech {
        margin-top: -30rem;
    }
} */